<div class="contentObjects-inner" role="complementary">
    <div class="contentObjects-item-container">
        {{> contentObjectsPartial this}}
    </div>
    <div class="aria-label a11y-ignore-focus prevent-default" tabindex="0" />
</div>
